.search-video-bar
  margin 20px
  text-align center

.youtube-video-list-item
  img
    maxWidth 100px

.list-group-item
  cursor pointer

  :hover
    background-color lightgrey

.video-details iframe
  border-radius 1%
